.landing {
  background-repeat: no-repeat;
  background-image: url("https://c.wallhere.com/photos/82/69/Super_Mario_video_games_reflection_Nintendo-1211620.jpg!d");
  background-size: cover;
  width: auto;
  height: auto;
  background-attachment: fixed; /* Cambia la propiedad a fixed para fijar la imagen */
  object-fit: cover;
}

.navContainer {
  display: flex;
  flex-direction: row; /* Cambia la dirección a horizontal para pantallas más grandes */
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  align-items: center;
  margin: 10px 0px;
  font-family: cursive;
}

.paginado {
  padding: 10px;
  margin: 15px;

  text-align: center;
}

.cardsContainer {
  padding: 20px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
  gap: 10px;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta esto según tus necesidades */
}

.loadingImage {
  max-width: 100%;
  height: auto;
}

.unButton {
  background-color: #383a3b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.unButton:hover {
  background-color: #b7bfc5;
  transform: translateY(3px); /* Desplaza el botón hacia abajo */
}
.unButtonAbajo {
  background-color: #383a3b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.unButtonAbajo:hover {
  background-color: #b7bfc5;
  transform: translateY(-3px); /* Desplaza el botón hacia abajo */
}
